<div class="homepage-container">
  <div class="homepage-wrapper">
    <div class="border-right"></div>
    <div class="border-left"></div>
    <div class="border-logo">
      <div class="homepage-logo">
        <svg xmlns="http://www.w3.org/2000/svg" width="83" height="65" viewBox="start-x start-y end-x end-y" fill="none" class="logo-svg">
          <path d="M1.25 16.888C1.25 11.546 2.66805 6.30594 5.35093 1.70017C8.03382 6.30594 9.45187 11.546 9.45187 16.888V24.7736H1.25V16.888Z" stroke="#fff" stroke-width="1.5"/>
        </svg>
      </div>
    </div>
    <div class="border-name"><span>Who decides war</span></div>
    <a class="enter-button" href="/collections">Enter</a>
  </div>
</div>


{% schema %}
  {
    "name": "Flat Background",
    "class": "index-section index-section--flush",
    "presets": [
      {
        "name": "Flat Background",
        "category": "Image"
      }
    ]
  }
{% endschema %}